{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'school/css/style.css' %}">
    <title>{{title}}</title>
  </head>
  <body>
    <style>
      body {
        background-image: url("{% static 'school/images/background.jpg' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      </style>
    <ul class="menu-main">
        {% for m in menu %}
          <li><a href="{% url m.urlname %}">{{m.title}}</a></li>
        {% endfor %}
    </ul>

    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="footer">
      <p>Footer</p>
    </div>
  </body>
</html>
